/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
/public/css/app.css
/public/mix-manifest.json
.php_cs.cache
/tags
tags.temp
tags.lock
/public/20_04_06_yeshi.zip
/public/js/*
composer.lock
