:root {
    --bg-color: rgba(143,198,65,1);
    --font: 'Roboto', sans-serif;
    --font-header: 'Source Sans Pro', sans-serif;
    --font-size: 16px;
    --text-color: rgb(235,235,235);
    --text-weight: 300;
    --link-color: rgba(234,255,204,1);
    --menu-link-color: rgba(255,255,255,1);
    --margin-top: 75px;
    --header-height: 80px;
    --line-height: 24px;
    --header-border-color: rgba(143,198,65,1);
    --max-width: 600px;
}


body, html {
	max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    padding: 0px;
    margin: 0px;
	font-family: var(--font);
    font-size: var(--font-size);
    color: var(--text-color);
    background: var(--bg-color);
    font-weight: var(--text-weight);
	-webkit-text-size-adjust: none;
    line-height: var(--line-height);
}

div.content-header {
    width: 100%;
    max-width: var(--max-width);
}

h1, h2, h3, h4 {
    font-family: var(--font-header);
    margin: 10px 0;
    padding: 10px 0px;
    border-bottom: 2px solid var(--header-border-color);
    white-space: nowrap;
    font-weight: 400;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    border-bottom: 1px solid var(--header-border-color);
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.grid {
    display: grid;
    width: 100%;
    max-width: var(--max-width);
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    padding: 10px 0;
}

.list-item {
    display: flex;
}

.list-icon {
    color: var(--bg-color);
    padding: 0 5px;
}

.list-name {
    padding: 0 5px;
}

div.stores {
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
}

.slogan {
    font-family: Courgette;
    font-size: 22px;
    margin: 5px 10px 15px 10px;
    text-align: center;
}

div.app {
    height: 100%;
}

div.flexbox {
    display: flex;
    max-width: var(--max-width);
}

.flex-column {
    flex-direction: column;
}

div.flex-1 {
    flex: 1;
}

div.flex-2 {
    flex: 2;
}

div.flex-3 {
    flex: 3;
}

div.content {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.25);
    min-height: 100vh;
}

div.content-area, div.home-content-area {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.home-content-area {
    padding-top: calc(40vh);
}

div.content-area {
    padding-bottom: 50px;
}

div.section {
    width: 100%;
    max-width: var(--max-width);
    margin: 15px 0;
}

div.section img {
    max-width: 100%;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 2px;
    margin-bottom: 15px;
}

div.p {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

p {
    max-width: var(--max-width);
    margin: 0px;
}

div.bg {
    top: 0;
    filter: blur(4px);
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* HEADER */

div.header {
    background-color: rgba(143,198,65,0.9);
    border-bottom: 2px solid rgba(255,255,255,1);
    display: flex;
    z-index: 10;
    position: relative;
    height: var(--header-height);
}

img.logo {
    max-height: 65px;
    padding: 10px;
}

div.menu {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: flex-end;
    width: 100%;
}

a.menu-item {
    color: var(--menu-link-color);
    font-size: 22px;
}

/* FOOTER */


div.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(143,198,65,0.9);
    border-top: 2px solid rgba(255,255,255,1);
    z-index: 10;
    position: relative;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 13px;
}

div.footer div {
    padding: 5px 15px;
    display: flex;
}

div.footer a {
    color: var(--menu-link-color);
}

/* ICONS */


.icon {
    font-size: 20px;
    padding: 5px;
}

.social-icons .icon {
    font-size: 26px;
    padding: 3px;
}

.footer .icon {
    padding: 0px 5px;
}

div.banner, div.image-banner {
    width: 100%;
    position: relative;
}

div.home-logo, div.content-banner-text {
    position: absolute;
    z-index: 5;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding-left: 5vw;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0));
}

div.content-banner-text {
    height: 50vh;
    max-height: 300px;
    top: 2px;

    & .banner-text-link {
        display: flex;
        justify-content: center;
        align-items: center;

        & .banner-text-icon {
            padding: 10px;
        }
    }
}

a.banner-link {
    font-size: 30px;
}

h1.home-logo {
    padding: 5px;
}

img.home-logo {
    max-height: 150px;
}

div.banner-image {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 40vh;
    overflow: hidden;
    border-bottom: 2px solid rgba(255,255,255,1);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

div.content-banner {
    
    width: 100%;
    height: 50vh;
    max-height: 300px;
    border-top: 2px solid rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,1);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* GALLERY */

div.gallery {
    display: grid;
    width: 100%;
    max-width: var(--max-width);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

div.image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

div.gallery img {   
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,1);
}


