:root {
    --bg-color: rgba(143,198,65,1);
    --font: 'Roboto', sans-serif;
    --font-header: 'Didact Gothic', sans-serif;
    --font-size: 16px;
    --text-color: rgb(235,235,235);
    --text-weight: 300;
    --link-color: rgba(234,255,204,1);
    --menu-link-color: rgba(255,255,255,1);
    --header-height: 80px;
    --line-height: 24px;
    --header-border-color: rgba(143,198,65,1);
    --border-color: rgba(255,255,255,1);
    --max-width: 650px;
    --content-padding: 15px;
    --banner-height: 40vh;
    --ginger-color: rgba(230,230,80,1);
    --chili-color: rgba(255,70,70,1);
}


body, html {
	max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    padding: 0px;
    margin: 0px;
	font-family: var(--font);
    font-size: var(--font-size);
    color: var(--text-color);
    background: var(--bg-color);
    font-weight: var(--text-weight);
	-webkit-text-size-adjust: none;
    line-height: var(--line-height);
}

div {
    box-sizing: border-box;
}

div.content-header {
    width: 100%;
    max-width: var(--max-width);
}

h1, h2, h3, h4 {
    font-family: var(--font-header);
    margin: 10px 0;
    padding: 10px 0px;
    border-bottom: 2px solid var(--header-border-color);
    white-space: nowrap;
    font-weight: 400;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 28px;
    width: 75%;
    position: relative;
    z-index: 10;
}

h3 {
    border-bottom: 1px solid var(--header-border-color);
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
}

div.stores {
    grid-template-columns: repeat(auto-fit, minmax(250px, calc((var(--max-width) / 2) - 25px)));
}

div.banner-text.flavours {
    width: 75%;
}

div.grid.ideas {
    width: 75%;
}

.list-item {
    display: flex;
}

.list-icon {
    color: var(--bg-color);
    padding: 0 5px;
}

.list-name {
    padding: 0 5px;
}

div.app {
    height: 100%;
}

div.flexbox {
    display: flex;
    max-width: var(--max-width);
}

.flex-column {
    flex-direction: column;
}

.flex-column.flex-start {
    align-items: flex-start;
}

div.flex-1 {
    flex: 1;
}

div.flex-2 {
    flex: 2;
}

div.flex-3 {
    flex: 3;
}

div.content {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.5);
    min-height: 100vh;
    padding-bottom: calc( var(--content-padding) * 5);
}

div.content-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.section {
    max-width: var(--max-width);
    margin: 15px;
    flex: 1;
}

p {
    max-width: var(--max-width);
    margin: var(--content-padding);
}

div.bg {
    top: 0;
    filter: blur(4px);
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* HEADER */

div.header {
    background-color: rgba(143,198,65,0.9);
    border-bottom: 2px solid rgba(255,255,255,1);
    display: flex;
    z-index: 10;
    position: relative;
    height: var(--header-height);
}

img.logo {
    max-height: 65px;
    padding: 10px;
}

div.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

a.menu-item {
    color: var(--menu-link-color);
    font-size: 22px;
    padding: 15px;
}

/* FOOTER */


div.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(143,198,65,0.9);
    border-top: 2px solid rgba(255,255,255,1);
    z-index: 10;
    position: relative;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 13px;
}

div.footer div {
    padding: 5px 15px;
    display: flex;
}

div.footer a {
    color: var(--menu-link-color);
}

/* ICONS */


.icon {
    font-size: 20px;
    padding: 5px;
}

.social-icons .icon {
    font-size: 26px;
    padding: 3px;
}

.footer .icon {
    padding: 0px 5px;
}

div.banner-content {
    width: 100%;
    position: relative;
    height: var(--banner-height);
    max-height: 300px;
    border-top: 2px solid rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,1);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

div.banner-content.padded {
    margin: var(--content-padding) 0;
}

div.banner-content.ginger {

    h2 {
        border-bottom-color: var(--ginger-color);
    }

    & img.inset-image {
        border-color: var(--ginger-color);
    }

    .list-icon {
        color: var(--ginger-color);
    }

}

div.banner-content.chili {

    h2 {
        border-bottom-color: var(--chili-color);
    }

    & img.inset-image {
        border-color: var(--chili-color);
    }

    .list-icon {
        color: var(--chili-color);
    }

}

div.banner-text {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;

    background-image: linear-gradient(to right, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0));

    & .banner-link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;

        & .banner-text-icon {
            padding: 10px;
        }

    }

}

div.inset-image {
    position: absolute;
    z-index: 2;
    top: calc( var(--banner-height) / 20 );
    right: 5vw;

    & img {
        border: 2px solid var(--border-color);
        box-shadow: 5px 5px 25px rgba(0,0,0,0.3);
        max-width: 50vw;
    }
    
}

img.rounded {
    border-radius: 50%;
}

div.home-logo {
    width: 290px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .slogan {
        font-family: Courgette;
        font-size: 22px;
        margin: 5px auto 15px auto;
        white-space: nowrap;
    }

    & div.home-logo-image {
        padding: 5px;
        border-bottom: 2px solid var(--header-border-color);
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    
    & img.home-logo {
        max-height: 150px;
    }

}


div.banner-image {
    width: 100%;
    position: relative;;
    z-index: 0;
    height: var(--banner-height);
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

div.content-banner {
    
    width: 100%;
    height: 50vh;
    max-height: 300px;
    border-top: 2px solid rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,1);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* GALLERY */

div.gallery {
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

div.image {
    width: 100%;
    height: 100%;
    max-height: 250px;
}

div.gallery img {   
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,1);
}


@media (max-width: 600px) { 

    div.banner-text.home-logo {
        width: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,.75));
    }

}
